

<div id="myid" class="bg-white py-6 sm:py-8 lg:py-12">
  <div class="max-w-screen-xl px-4 md:px-8 mx-auto">
    <div class="grid md:grid-cols-2 gap-8 lg:gap-12">
      <div>
        <div class="bg-gray-100 overflow-hidden rounded-lg shadow-lg mt-8 relative mb-6 md:mb-8">
          <img src="assets/images/Main-services.png" loading="lazy" alt="Photo by Minh Pham" class="w-full animate-kenburns-top-right h-full object-cover object-center" />
        </div>
      </div>

      <div class="md:pt-8">
      

        <h1 class="text-gray-800 text-3xl sm:text-4xl font-bold text-center mb-4 md:mb-6">About Us</h1>

        <blockquote class="text-gray-900 sm:text-lg italic border-l-4 pl-4 md:pl-6 mb-6 md:mb-8">
          Here at Lawnetics we provide you the best services on Trademark registration, copyright
    and patent etc. We take care of your IP rights from registration to acceptance. So you may
    be wondering what is an IP right and why do you need it, well it is an right which gives you
    exclusive authority over your IP i.e. to exclude others from using it, selling or
    manufacturing in any way. It is just like an boundary/fence around your property except it
    is an legal and virtual boundary. 
    Let's say the name of your business/company/startup or any copyright material,
    design or invention but do you know you may be infringing on someone else's IP or
    someone may infringe yours' even before you know it so what is the best way to
    prevent that and protect your IP, well guess what get a your IP registered today and
    leave the res to us. We convey every detail and all the updates on your file are in
    minimal time along with being cost effective. So what are you waiting for get your
    IPR today
        </blockquote>

      </div>
    </div>
  </div>
</div>

<section>
  <div class="max-w-screen-xl px-4 py-16 mx-auto sm:px-6 lg:px-8">
    <div class="grid grid-cols-1 gap-8 lg:gap-16 lg:grid-cols-2">
      <div
        class="relative h-64 overflow-hidden rounded-lg sm:h-80 lg:h-full lg:order-last"
      >
        <img
          class="absolute inset-0 object-cover w-full h-full"
          src="https://images.unsplash.com/photo-1519085360753-af0119f7cbe7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80"
          
        />
      </div>

      <div class="lg:py-24">
        <h1 class="text-3xl font-bold sm:text-4xl">WHAT OUR EXPERTS SAY?</h1>

        <blockquote class="text-gray-900 sm:text-lg italic border-l-4 pl-4 md:pl-6 mb-6 md:mb-8">
          Lawnetics IP Firm is a well-known law
firm in Ghaziabad, Uttar Pradesh. The
firm is dedicated to making an effort to
build strong relationships with its clients.
Their goal is to assist your business get
where you want it to be. They
understand that trust is a significant
factor when looking for legal services.
The team at Lawnetics IP Firm provide
you with the best services on trademark
registration, copyright and patent etc.
They take care of your IP rights from
registration to acceptance. They want to
be part of your team and make you feel
like your problems are their problems.

 </blockquote>

      </div>
    </div>
  </div>
</section>


<section>
  <div class="max-w-screen-xl px-4 py-16 mx-auto sm:px-6 lg:px-8">
    <div class="grid grid-cols-1 gap-8 lg:gap-16 lg:grid-cols-2">
      <div
        class="relative h-64 overflow-hidden rounded-lg sm:h-80 lg:h-full lg:order-last"
      >
        <img
          class="absolute inset-0 object-cover w-full h-full"
          src="https://images.unsplash.com/photo-1507537362848-9c7e70b7b5c1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80"
          alt="Man using a computer"
        />
      </div>

      <div class="lg:py-24">
        <h1 class="text-3xl font-bold sm:text-4xl">How are we Different?</h1>

        <blockquote class="text-gray-900 sm:text-lg italic border-l-4 pl-4 md:pl-6 mb-6 md:mb-8">
          Lawnetics IP Firm is a well-known law
          firm in Ghaziabad, Uttar Pradesh. The
          firm is dedicated to making an effort to
          build strong relationships with its clients.
          Their goal is to assist your business get
          where you want it to be. They
          understand that trust is a significant
          factor when looking for legal services.
          The team at Lawnetics IP Firm provide
          you with the best services on trademark
          registration, copyright and patent etc.
          They take care of your IP rights from
          registration to acceptance. They want to
          be part of your team and make you feel
          like your problems are their problems.

 </blockquote>

      </div>
    </div>
  </div>
</section>