<div id="myid" class="bg-white py-6 sm:py-8 lg:py-12">
    <div class="max-w-screen-md px-4 md:px-8 mx-auto">
      <h1 class="text-gray-800 text-2xl sm:text-3xl font-bold text-center mb-4 md:mb-6">Terms of Services</h1>
  
      <h6 class="text-gray-900 sm:text-lg mb-6 md:mb-8">
        By accessing and use of this website https://www.lawnetics.in (“Website”), the User of the 
        Website (“User” or “you” and “your”) accepts and agrees to be bound by and to comply with 
        (i) these terms of use, (“Terms of Use”) (ii) the Disclaimer, which the User has agreed to and 
        accepted prior to accessing the Website, and (iii) the Privacy Policy available on this Website 
        By using this Website, the User expressly represents that he/she has read and understood these 
        Terms of Use and agrees to be bound by them. Furthermore, by using this Website, the User 
        expressly represents that (a) he/she has the capacity to be bound by these Terms of Use; (b) if 
        he/she is acting on behalf of a company or other entity, then he/she has the relevant authority 
        to bind such company or entity; (c) he/she will not violate any rights of LawNetics 
        (“LawNetics”), including intellectual property rights such as copyright or trademark rights; and 
        (d) he/she has not been or is not suspended or removed from the Website by LawNetics for any 
        reason. 
        <h2><br>GENERAL</h2>
       <br>
        The information, material and content provided on the Website (the “Information”) may be 
        changed, modified or revised at any time without prior notice. The User accepts the changes 
        by accessing or using the Website after the changes, modifications or revisions have been 
        made. 
        Information provided on the Website is believed to be reliable. The Website is a resource for 
        informational purposes only and is intended, but not promised or guaranteed, to be correct, 
        complete, and up-to-date. LawNetics does not warrant that the Information contained on this 
        Website is accurate or complete, and hereby disclaims any and all liability to the User or any 
        other person for any loss or damage caused by errors or omissions, regardless of whether such 
        errors or omissions result from negligence, accident or any other cause. LawNetics assumes no 
        liability for the interpretation and/or use of the Information contained on this Website, nor does 
        it offer a warranty of any kind, either expressly or impliedly. 
        The links to other websites or other entities on the Website does not indicate LawNetics 
        affiliation with entities controlling such websites or endorsement of the content available on 
        such websites. LawNetics is not responsible for and makes no representations or warranties 
        regarding (i) the contents of the websites to which links may be provided from this Website, or 
        (ii) other such websites or links may be active or always available. 
        No Information may be modified, edited or taken out of context such that its use creates a false 
        or misleading statement or impression as to the position, statements or actions of LawNetics. 
        The Information provided in this Website does not constitute legal advice rendered by 
        LawNetics or its employees, consultants or representatives. LawNetics does not guarantee the 
        soundness or accuracy of the Information. The User agrees that, should he/she rely on the 
        Information, he/she does so at his/her own risk. 
        LawNetics reserves the right at any time, without previous notice, to add, alter, modify, change 
        or vary all or any of the terms of the Terms of Use. 
       
        <h2><br>NO LAWYER-CLIENT RELATIONSHIP</h2><br>
        The use of this Website does not amount to the creation of a lawyer-client relationship. Any 
        transmission, receipt or use of this Website and information and materials contained therein, 
        or sending an e-mail to our offices, will not create or constitute a lawyer-client relationship. 
        Users should make themselves aware of the laws of their respective country or those applicable 
        to them while accessing and using the Information. User agrees that he/she does not rely on the 
        Information as legal advice or legal opinions from LawNetics. If the User chooses to access 
        the Website, then it shall be deemed to be done on his/ her own initiative and he/she shall be 
        held responsible for compliance with applicable laws. 
        <h2><br>NO WARRANTIES</h2><br>
        LawNetics and its members, affiliates, employees and authorized representatives provide the 
        Website and the Information on an “as is” basis and do not make any express or implied 
        warranties, representations, endorsements or conditions with respect to the Website or the 
        Information, including without limitation, warranties as to non-infringement, usefulness, 
        completeness, accuracy, correctness, reliability and fitness for a particular purpose. 
        Further, LawNetics does not represent or warrant that the Website will be available or will 
        meet the User(s) requirements, that access will be uninterrupted, that there will be no delays, 
        failures, errors or omissions or loss of transmitted information, that no viruses or other 
        contaminating or destructive properties will be transmitted or that no damage will occur to 
        User’s computer system. The User is solely responsible for any loss of data, or any other harm 
        caused due to access or use of the Website, and for taking necessary precautions required to 
        protect and prevent viruses or other harmful properties from entering their device. 
        <h2><br>NO LIABILITY</h2><br>
        User agrees that LawNetics is not liable in tort, contract or otherwise for any direct, indirect, 
        incidental, special, consequential, exemplary or punitive damages accrued to the User due to 
        access or use of the Website or the Information contained therein. 
        The User understands that the Website is used by him/her is solely at his/her own risk, cost and 
        liability. 
        <h2><br>TERMINATION</h2><br>
        The User agrees that LawNetics with or without any reason, may immediately terminate your 
        access to the Website without prior notice. Without limiting the foregoing, LawNetics may 
        terminate or temporarily suspend your access to the Website if you (a) breach or violate these 
        terms, (b) there is a request by law enforcement or other government agencies, or (c) in case of 
        unexpected technical issues or problems. 
        The User agrees that all terminations of access to the Website shall be made at the sole 
        discretion of LawNetics and that LawNetics shall not be liable in any manner whatsoever to 
        either him/ her or any third-party for any termination of access to this Website. 
        <h2><br>COMMUNICATION</h2><br>
        Any communication from LawNetics is subject to possible delay, interception or loss, and may 
        also be subject to interference, incompleteness or possible alteration. Electronic 
        communication (including any attachments) may be incompatible with your systems. Your use 
        of the electronic communication is solely at your own risk and you should carry out virus 
       
      </h6>
  
     
    </div>
  </div>