<div id="myid" class="bg-white py-6 sm:py-8 lg:py-12">
    <div class="max-w-screen-md px-4 md:px-8 mx-auto">
      <h1 class="text-gray-800 text-2xl sm:text-3xl font-bold text-center mb-4 md:mb-6">Privacy Policy</h1>
  
      <h6 class="text-gray-900 sm:text-lg mb-6 md:mb-8">
       
        This Privacy Policy applies to all personal data collected electronically by LawNetics on 
www.lawnetics.in or any other website maintained by LawNetics or any of its affiliates 
(hereinafter, “us”, “we”, or “LawNetics”). We, at LawNetics, respect your privacy and are 
committed to protecting personally identifiable information you may provide us through the 
website. We understand and appreciate the concerns that users of our website may have, and to 
that end, we have adopted this privacy policy (“Privacy Policy” or “policy”) to elaborate what 
information may be collected on our website, how we use this information, and under what 
circumstances we may disclose the information to third parties. This Privacy Policy applies 
only to information we collect through the website and does not apply to our collection of 
information from other sources. 
This Privacy Statement and Cookie Policy (the “Policy”) is focused on the privacy and data security 
standards that apply to all of our operating websites. We use it in terms of our overall 
responsibilities to follow the rules, protect customer confidentiality, and represent our clients as 
well as possible under the law. This Policy is meant to provide an overview of the firm’s data 
security procedures in general, as well as to inform our employers, prospective law students, career 
seekers, website users, and other third parties about the firm’s privacy policy that could apply to 
them. 
This Policy also applies to parties outside the firm that offer Personal Information to the firm, as 
well as others who visit or use the firm’s blogs, applications, social media pages, extranets, and 
email communications that contain a connection to this Policy (collectively, the “Internet 
Services”). This Policy further explains how the firm gathers, processes, and discloses Personal 
Information in providing legal advice and Internet Services. 
We generally keep this Privacy Policy posted on the website, and you should review it frequently, 
as it may change from time to time without notice. Any changes will be effective immediately upon 
the posting of the revised Privacy Policy. WHEN YOU ACCESS OUR WEBSITE, YOU 
AGREE TO THIS PRIVACY POLICY. IF YOU DO NOT AGREE TO THIS PRIVACY 
POLICY OR TO ANY CHANGES WE MAY SUBSEQUENTLY MAKE, IMMEDIATELY 
STOP ACCESSING OUR WEBSITE. 
<h2><br>1. INFORMATION WE COLLECT </h2><br>
Our website typically collects three kinds of information about you: (a) information that you 
provide which personally identifies you; (b) information that does not personally identify you 
which we automatically collect when you visit our website or that you provide us; and (c) 
Information received from third parties. 
a) Personally Identifiable Information: Our definition of personally identifiable 
information includes any information that may be used to specifically identify or contact 
you, including but not limited to your name, address, email address, phone number, etc. 
As a general policy, to facilitate the use of the content on our website, you may have to 
provide personally identifiable information.
b) Non-Personal Information: Our definition of non-personal information is any 
information that does not personally identify you. We use cookies, log files, pixel tags, local 
storage objects and other tracking technologies to automatically collect information when 
users access or use the services or visit our Site, such as an IP address, general location 
information, domain name, page views, a date/time stamp, browser type, device type, 
device ID, Internet service provider (“ISP”), referring/exit URLs, operating system, 
language, clickstream data, and other information about the links clicked, features used, 
size of files uploaded, streamed or deleted, and similar device and usage information. Nonpersonal information can include certain personally identifiable information that has been 
de-identified; that is, information that has been rendered anonymous. We obtain nonpersonal information about you from information that you provide us, either separately or 
together with your personally identifiable information. We also automatically collect 
certain non-personal information from you when you access our websites. This 
information can include, among other things, IP addresses, the type of browser you are 
using (e.g., Internet Explorer, Firefox, Safari, etc.), the third-party website from which your 
visit originated, the operating system you are using (e.g., Vista, Windows XP, Macintosh 
OS, Android etc.), the domain name of your Internet service provider (e.g., America 
Online, NetZero, etc.) and from the specific areas of the website. 
c) Information received from third-parties: We may obtain personal information from 
service providers and other third parties, such as our clients, representatives, and 
professional advisers, content providers, government officials, and public sources and 
records.
<h2><br>2. HOW WE USE & SHARE THE INFORMATION COLLECTED </h2><br>
The information is required in order for us to understand your needs better and provide you with 
better service. We may use that Personal Information for the following purposes if it is in our 
legitimate interest to do so: - To get in touch with you and answer your inquiries and requests. - To personalize your visit and use of our Internet Services, as well as to assist you when 
using them. - To carry out, monitor and evaluate the activities of our business or website. - To carry out our hiring and screening procedures. - To provide you with legal services, if you are or become a client of the firm, and otherwise 
work with you, and manage the matters you instruct us on. - Will email/contact you (unless you tell us not to) about legal or law firm developments 
that might be of concern to you. If you do not wish to accept publications or information 
about events or workshops that we believe might be of interest to you, you may 
unsubscribe by clicking on the unsubscribe tab in electronic marketing communications.
<h2><br>3. DATA RETENTION </h2><br>
We take reasonable steps to ensure that information about you is available only for so long as is 
necessary for the purpose for which it is processed or longer if required under any law. 
<h2><br>4. KEEPING YOUR INFORMATION SECURE </h2><br>
We have implemented standard security measures that we believe are reasonable and necessary to 
protect the information under our control from loss, misuse and alteration. Please be aware that, 
while we make every effort to protect your personally identifiable information and privacy, we 
cannot guarantee or warrant the protection of any information you share or send to us online, and 
we are not responsible for the theft, loss, or inadvertent disclosure of such information. 
<h2><br>5. ACCESS TO YOUR PERSONAL INFORMATION </h2><br>
You may request to see your personal records by writing to us. You can request that corrections 
be made if you can demonstrate that the information, we possess is inaccurate. Please be 
aware that you might not be able to access your records under such cases, such as where the 
disclosure of your records may pose security, legal, or confidentiality concerns. 
<h2><br>6. COOKIE POLICY</h2><br>
A cookie is a text file that your web browser receives from a web server and stores on your 
computer. Session and permanent cookies are the two kinds of cookies that are helpful to 
distinguish. Session cookies are distinct from permanent cookies in that they are temporary, expire, 
and are usually erased when the browser is closed. On the other hand, persistent cookies are kept 
on your computer after you close your tab and stay there until they expire or you erase them. 
Except for Internet Services that need you to log in, such as our client extranets and a Region 
Code cookie that exists over time and guarantees that you are led to the right version of our 
website, the firm uses session cookies in conjunction with its Internet Services. 
Cookies are used for the firm’s Internet Services. Session cookies are used by the company in 
conjunction with its Internet Services, primarily for cybersecurity purposes, to personalize your 
experience, such as highlighting recently viewed items, detecting and remembering your region 
and language preferences, and tracking your activities on the Internet Services. We also use a 
persistent Region Code cookie to ensure that you are led to the right edition of our website over 
time. 
About the fact that the firm uses third-party providers in combination with these cookies, we do 
not encourage the third-party service provider to access Personal Information about the users of 
our Internet Services’. The firm does not use Google Analytics. 
None of these cookies is required to use our Internet services. You may set the browser to refuse 
all cookies or to notify you when a cookie is set; however, some sections of the Internet Services 
cannot run properly if you do so. When you log in to the firm’s Internet Services, because you 
have changed your browser settings to refuse cookies, our Internet Services will issue cookies. 
Using your web browser’s “help” menu or the customer support sections, you can learn more 
about how to handle your cookie preferences. If you want to opt-out or block any or all cookies, 
you’ll need to customize each browser on each device you use. 
<h2><br>7. DO NOT TRACK SIGNALS </h2><br>
“Do Not Track” signals are settings on your browser that indicate the website operators that you 
don’t want your online activities monitored. If these “Do Not Track” signals are activated or 
disabled does not affect how our websites work. Third parties are not permitted to gather Personal 
Information about your online activities over time or through websites for their purposes using 
our Internet Services. 
<h2><br>8. OTHER SITES </h2><br>
Our website may link to or contain links to other third-party websites that we do not control or 
maintain. While we try to link to websites that share our standards and respect for privacy, we are 
not responsible for the privacy practices employed by any third-party website. We encourage all 
our site visitors to review the privacy statements of all third-party websites before submitting any 
personally identifiable information. 
<h2><br>9. CHILDREN</h2><br>
To protect minors’ privacy, the firm does not intentionally gather, preserve, or process Personal 
Information submitted online through our Internet Services by someone under 18 years old. To 
the degree that the firm gathers Personal Information on minors for one of the reasons mentioned 
in the Policy, it would do so only with their consent or as otherwise required by relevant laws.
<h2><br>10. CHANGES TO THIS POLICY </h2><br>
We reserve the right to amend this Policy at any point of time. The Policy, as revised, will be posted 
on our website. Unless otherwise provided or allowed by statute, we will obtain the requisite 
contents required by applicable privacy laws if we seek to collect, use, or publish your personal 
information for reasons other than those for which permission has been obtained. 
Notwithstanding anything herein to the contrary, we reserve the right to disclose any personally 
identifiable information or non-personal information about you if we are required to do so by law, 
with respect to copyright or other intellectual property infringement claims, or if we believe that 
such action is necessary to: (a) fulfill a government request; (b) conform with the requirements of 
the law or legal process; (c) protect or defend our legal rights or property, our website, or other 
users; (d) in an emergency to protect the health and safety of our website’s users or the general 
public or (e) to third parties with your consent or when you request such sharing. 
<h2><br>11. CONTACT INFORMATION </h2><br>
You may contact us as provided below if: (a) you have questions or comments about our Privacy 
Policy; (b) wish to make corrections to any personally identifiable information you have provided; 
or (c) want to opt-out from receiving future promotional correspondence, including emails, from 
our affiliated companies or us. 
Please contact our team at lawnetics@gmail.com and +91 9289877177. We will respond to your 
request and, if applicable and appropriate, make the requested change in our active databases as 
soon as reasonably practicable


</h6>
  
     
  
     
    </div>
  </div>